@model OnlineShop.Models.Utilizator

@{
    ViewBag.Titlu = "Editare utilizator";
}


<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(controllerName: "Utilizatori", actionName: "Edit", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.Label("Nume", "Nume utilizator")
    <br />
    @Html.Editor("Nume")

    @Html.ValidationMessageFor(m => m.Nume, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Prenume", "Prenume utilizator")
    <br />
    @Html.Editor("Prenume")

    @Html.ValidationMessageFor(m => m.Prenume, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Telefon", "Telefon utilizator")
    <br />
    @Html.Editor("Telefon")

    @Html.ValidationMessageFor(m => m.Telefon, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Email", "Email utilizator")
    <br />
    @Html.Editor("Email")

    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Parola", "Parola utilizator")
    <br />
    @Html.Editor("Parola")

    @Html.ValidationMessageFor(m => m.Parola, null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-success" type="submit">Editeaza utilizatorul</button>
}
