@model OnlineShop.Models.Utilizator

@{
    ViewBag.Titlu = "Adaugare utilizator";
}


<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Utilizatori", method: FormMethod.Post))
{
    @Html.Label("Nume", "Nume utilizator")
    <br />

    @Html.TextBox("Nume", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Nume, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Prenume", "Prenume utilizator")
    <br />

    @Html.TextBox("Prenume", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Prenume, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Telefon", "Telefon utilizator")
    <br />

    @Html.TextBox("Telefon", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Telefon, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Email", "Email utilizator")
    <br />

    @Html.TextBox("Email", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Parola", "Parola utilizator")
    <br />

    @Html.TextBox("Parola", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Parola, null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-success" type="submit">Sign up</button>
}
