@model OnlineShop.Models.Comanda

@{
    ViewBag.Titlu = "Adaugare comanda";
}


<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Comenzi", method: FormMethod.Post))
{
    @Html.Label("Valoare", "Valoare comanda")
    <br />

    @Html.TextBox("Valoare", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Valoare, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Data", "Data comanda")
    <br />

    @Html.TextBox("Data", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Data, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Stare", "Stare comanda")
    <br />

    @Html.TextBox("Stare", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Stare, null, new { @class = "text-danger" })
    <br />
    <br />


    @Html.Label("Id Utilizator", "Utilizator comanda")
    <br />

    @Html.TextBox("Id Utilizator", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.UtilizatorId, null, new { @class = "text-danger" })
    <br />
    <br />


    <button class="btn btn-success" type="submit">Adauga o comanda</button>
}
